* text eol=lf

# Adblocker filter files
[attr]adb   linguist-detectable linguist-language=AdBlock
[attr]hosts linguist-detectable linguist-language=hosts

AntiMalwareHosts.txt linguist-detectable linguist-language=hosts
easylistlithuania.txt linguist-detectable linguist-language=AdBlock
